@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(
        90deg,
        rgba(48, 16, 255, 1) 0%,
        rgba(100, 115, 255, 1) 100%)
}

.main_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: top;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    align-items: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}



h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}

button {
    padding: 16px;
    border: none;
    font-size:14px;
    margin-left: 5px;
    border-radius: 4px;
    width: 100px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
        90deg,
        rgba(93, 12, 255, 1) 0%,
        rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
}



ol{
    margin-top: 30px;

}

ol li {
    padding-left: 0px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: #8566aa;
    text-transform: capitalize;
}

.todo_style{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.todo_style .delete {
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #8566aa;
    border-radius: 50px;
    margin: 0 15px 0 35px;
    color: aliceblue;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}

.todo_style .delete:hover {
    background-color: crimson;
}

@media (max-width: 700px){

    
    .todo_style .delete {
        margin: 0 15px 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        margin-left: 5px;
        min-height: 40px;
        width: 100px;
    }
}